/* wireframe CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "NanumGothicBold";
}
ul {
  list-style: none;
}
.wrap {
  height: 400vh;
}
.cont-inner {
  margin: 0 auto;
  max-width: 1600px;
  width: 98%;
}
.cover-image {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  text-align: center;
}
.cover-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}
.cover-image .label {
  display: block;
  padding-top: 30px;
  color: #fff;
}
.project-title {
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
.project-title h2 {
  margin-bottom: 25px;
  font-size: 30px;
  letter-spacing: 3px;
}
section {
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}
section .headline {
  margin-bottom: 50px;
  padding: 15px 25px;
  background: #eee;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: #3e3e3e;
}
.project-title .desc {
  font-size: 16px;
}
/* Common Functional */
.functional {
  display: flex;
  padding: 0 20px;
}
.functional .list-box {
  margin-right: 100px;
}
.list-box [class*="-color"] li .color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
}

.portfolio {
  display: flex;
  gap: 20px;
}
.portfolio > div img {
  width: 100%;
}
.project-image {
  flex: 1.5;
}
.project-desc {
  margin-top: 15px;
}
.project-desc li {
  margin: 2px 0;
  font-weight: 600;
  font-size: 18px;
}
.wireframe {
  flex: 1;
}
@media (max-width: 1200px) {
  .project-image {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .cover-image .label {
    letter-spacing: -1px;
  }
  .project-title h2 {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: 0;
  }
  .portfolio {
    flex-direction: column;
    gap: 30px;
  }
}

/* iloom */
.list-box .iloom-color li:nth-child(1) .color {
  background: #000;
}
.list-box .iloom-color li:nth-child(2) .color {
  background: #9b9b9b;
}
.list-box .iloom-color li:nth-child(3) .color {
  background: #f5f1ee;
}
.list-box .iloom-color li:nth-child(4) .color {
  background: #d2c3b8;
}
.list-box .iloom-color li:nth-child(5) .color {
  background: #c80a1e;
}
/* art-gallery */
.list-box .art-color li:nth-child(1) .color {
  background: #1e1e1e;
}
.list-box .art-color li:nth-child(2) .color {
  background: #7d7d7d;
}
.list-box .art-color li:nth-child(3) .color {
  background: #c9ab81;
}
/* hanhwa-gallery */
.list-box .hanhwa-color li:nth-child(1) .color {
  background: #f7f7f7;
}
.list-box .hanhwa-color li:nth-child(2) .color {
  background: #1e1c1c;
}
.list-box .hanhwa-color li:nth-child(3) .color {
  background: #ff6600;
}
