/* Fontawesome CDN */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
/* Font CDN */
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SpoqaHanSansNeo-Regular";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
i {
  font-family: fontawesome;
  font-style: normal;
}
:root {
  --logo-font: "BookkMyungjo-Bd";
  --big-title: "Raleway", sans-serif;
  --black-color: #1e1e1e;
  --gray-color: #7d7d7d;
  --point-color: #c9ab81;
}
.wrap {
  position: relative;
}
/* Top button */
.btn-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 30px;
  bottom: -100%;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.35);
  font-size: 18px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}
.btn-top.on {
  bottom: 30px;
  visibility: visible;
  opacity: 1;
}
/* ###### Common CSS ###### */
section:not(.intro) {
  padding: 100px 0 50px;
}
.cont-inner {
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
}
.title-cont {
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title-cont .subject-tit {
  font-size: 40px;
  color: var(--black-color);
  line-height: 1;
}
.title-cont .btn-more {
  position: relative;
}
.title-cont .btn-more:after {
  content: "\f105";
  display: inline-block;
  margin-top: -3px;
  margin-left: -2px;
  vertical-align: middle;
  font-family: fontawesome;
  font-size: 18px;
}
.swiper-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.swiper-btns button {
  display: inline-block;
}
.swiper-btns .swiper-button {
  position: initial;
  font-weight: bold;
  color: var(--black-color);
  transition: 0.3s;
}
.swiper-btns .swiper-button:after {
  font-size: 20px;
}
.swiper-btns button:hover {
  color: var(--point-color);
}
/* Header */
.header {
  position: fixed;
  z-index: 500;
  width: 100%;
  transition: 0.3s;
}
.header.sticky {
  background: rgba(0, 0, 0, 0.8);
}
.header:hover,
.header.sticky:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.header .header-gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
  color: #fff;
}
.header:hover .header-gnb {
  color: var(--black-color);
}
.header .logo {
  font-size: 20px;
  font-family: var(--logo-font);
  letter-spacing: 1px;
}
.header .logo a {
  display: inline-block;
  padding: 15px 0;
}
/* Nav */
.header .header-wrap {
  position: relative;
  height: 55px;
  transition: 0.3s;
}
.header .header-wrap.active {
  height: 350px;
  background: #fff;
}
.main-gnb {
  display: flex;
}
.main-gnb .main-menu {
  position: relative;
}
.main-menu-link {
  display: block;
  padding: 15px 40px;
  transition: 0.3s;
}
.main-menu-link:hover,
.main-menu-link.active {
  background: #000;
  color: #fff;
}
.sub-gnb-wrap {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
}
.sub-gnb {
  position: relative;
  text-align: center;
}
.sub-gnb .sub-menu {
  margin: 5px 0;
}
.sub-menu-link {
  display: block;
  padding: 10px;
  color: var(--black-color);
  transition: 0.3s;
}
.sub-menu-link:hover {
  color: var(--point-color);
}
.utility-links {
  display: flex;
  align-items: center;
}
.utility-links li {
}
.utility-links li a {
  display: block;
  padding: 10px;
  transition: 0.3s;
}
.utility-links li a:hover {
  color: var(--point-color);
}
.utility-links .btn-search {
  margin-left: 5px;
}
.utility-links .btn-search i {
  font-size: 18px;
  color: #fff;
}
.header:hover .utility-links .btn-search i,
.header.sticky:hover .utility-links .btn-search i {
  color: var(--black-color);
}
.mobile-menu,
.dim {
  display: none;
}
.dim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
}
/* ###### Section: Intro ###### */
/* Intro-thumb */
.intro-thumb {
  position: relative;
  width: 100%;
}
.intro-thumb .video-wrap {
  width: 100%;
  height: 100%;
}
.intro-thumb .video-wrap video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-thumb .intro-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.intro-thumb .intro-title h2 {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: var(--big-title);
  text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.intro-thumb .intro-title button {
  display: inline-block;
  padding: 15px 35px;
  border: 4px solid #000;
  background: rgba(255, 255, 255, 0.6);
  font-family: var(--text-font);
  font-size: 17px;
  color: #000;
  transition: 0.3s;
}
.intro-thumb .intro-title button:hover {
  background: #000;
  color: #fff;
}
/* Intro-info */
.intro-info {
  padding: 60px 0 80px;
  border-bottom: 1px solid #000;
  background: #fff;
}
.intro-info-guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-list {
  display: flex;
}
.info-list .info-tit {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}
.info-list li {
  margin-right: 150px;
}
.info-list li:first-child {
  margin-left: 0;
}
.info-list li span {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.info-list li small {
  display: inline-block;
  margin-top: 5px;
  padding: 0 10px;
  font-size: 15px;
  background: var(--black-color);
  color: #fff;
}
.info-guide a {
  display: inline-block;
  margin: 0 3px;
  padding: 10px 25px;
  border-radius: 3px;
  border: 3px solid var(--black-color);
  background: var(--black-color);
  color: #fff;
  transition: 0.2s;
}
.info-guide a:hover {
  background: var(--point-color);
  border-color: var(--point-color);
  color: #fff;
}
.info-guide .btn-come {
  background: #fff;
  color: var(--black-color);
}
/* Section: Exhibition */
.exhibition {
  overflow: hidden;
}
.exhibition .title-cont {
  margin-bottom: 20px;
}
/* Swiper Controls Btn */
.exhibition .swiper-btns {
  width: 85px;
  height: 44px;
}
.exhibition .swiper-btns .control-button {
  font-size: 18px;
  vertical-align: middle;
  height: 44px;
}
.exhibition .swiper-btns .control-button:before {
  content: "\f04b";
  display: inline-block;
  margin-top: 4px;
  font-family: fontawesome;
  transition: 0.3s;
}
.exhibition .swiper-btns .control-button.stop:before {
  content: "\f04c";
}
/* Swiper Slider */
.exhibition-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.exhibition-slider ul {
  display: flex;
}
.exhibit .item-thumb {
  width: 100%;
  height: 380px;
  overflow: hidden;
}
.exhibit .item-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.exhibit .item-desc {
  padding: 20px;
  background: #fff;
  transition: 0.3s;
}
.exhibit .item-desc .label {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 15px;
  font-size: 14px;
}
.exhibit .item-desc .label.black {
  background: var(--black-color);
  color: #fff;
}
.exhibit .item-desc .label.white {
  border: 1px solid var(--black-color);
  background: #fff;
}
.exhibit .item-desc .item-tit {
  margin: 13px 0 7px;
  font-size: 17px;
}
.exhibit .item-desc .date {
  color: #7d7d7d;
}
/* Section: Collection */
.collection .title-cont {
  width: 95%;
}
.art-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 4px 0;
  height: 100%;
  background: #000;
}
.artwork {
  background: #fff;
  transition: 0.3s;
}
.artwork:hover {
  background: var(--point-color);
  color: #fff;
}
.artwork a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.artwork .artwork-name,
.artwork .artwork-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.artwork .artwork-name {
  margin-bottom: 20px;
}
.artwork .artwork-name .name {
  font-size: 20px;
}
.artwork .gallery {
  margin: 0 auto;
  width: 80%;
  max-width: 330px;
  height: 250px;
}
.artwork .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artwork .artwork-info {
  margin-top: 20px;
}
.artwork .artwork-info .author {
  position: relative;
  padding-bottom: 2px;
}
.artwork .artwork-info .author:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--black-color);
}
/* Section: Notice */
.notice {
  margin-bottom: 50px;
}
.notice .cont-inner {
  display: flex;
  gap: 50px;
}
.edu-program {
  flex: 1;
}
.newsletter {
  flex: 1.4;
}
/* Edu-program */
.edu-program {
  position: relative;
  overflow: hidden;
}
.edu-program .title-cont {
  margin-bottom: 56px;
}
.edu-program .control-btn {
  position: relative;
}
.edu-program .swiper-btns {
  width: 95px;
  height: 100%;
}
.edu-program .swiper-btns .swiper-button {
  height: auto;
}
.edu-program .swiper-pagination {
  font-size: 15px;
  bottom: 0;
  z-index: 1;
}
/* program-slider */
.program-slider {
  position: relative;
  width: 100%;
  height: 460px;
  background: #f0f0f0;
}
.program-slider .program-thumb a {
  width: 100%;
}
.program-slider .program-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Newsletter */
.newsletter .news-cont {
  padding: 10px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.newsletter .news-cont .news-item {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  font-size: 18px;
  border-bottom: 1px dashed #000;
}
.newsletter .news-cont .news-item:hover .news {
  color: var(--point-color);
}
.newsletter .news-cont li:last-child .news-item {
  border-bottom: 0;
}
.newsletter .news-cont .news-item .badge {
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 15px;
  background: #000;
  color: #fff;
}
.newsletter .news-cont .news-item .news {
  flex: 1;
  margin-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
.newsletter .news-cont .news-item .date {
  color: var(--gray-color);
}
/* Footer */
.footer {
  padding: 50px 0;
  border-top: 1px solid #e6e6e6;
}
.foot-menu {
  display: flex;
  justify-content: space-between;
}
.foot-menu .foot-column {
  flex: 1;
}
.family-site li {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}
.family-site li a:hover,
.policy li a:hover,
.sns-link li a:hover {
  color: var(--point-color);
}
.policy li {
  margin-bottom: 5px;
}
.sns-link {
  display: flex;
  align-items: center;
}
.sns-link li {
  margin-right: 15px;
}
.sns-link li a {
  font-size: 25px;
}
.address {
  margin-top: 10px;
  font-size: 17px;
}
