@media (max-width: 1280px) {
  /* ####### Common CSS ####### */
  section {
    padding: 50px 0 35px;
  }
  /* ####### Section: best-category ####### */
  .best-category .cont-inner {
    padding: 0;
  }
  .category-content .category-items {
    width: 32%;
  }
  .category-menu-items {
    gap: 40px 0;
  }
  .category-content .category-items:nth-child(3n) {
    margin-right: 0;
  }
  .category-content .category-items,
  .category-content .category-items:nth-child(4n) {
    margin-right: 2%;
  }
  /* ####### Section: iloom-promotion ####### */
  .iloom-promotion .cont-inner {
    padding: 0;
  }
  .promotion-content .promotion-item .desc .btn-more {
    padding: 5px 15px;
    font-size: 15px;
  }
  .promotion-content .promotion-item .desc p {
    font-size: 15px;
  }
  /* ####### Section: iloom-interior ####### */
  .interior-content {
    height: 1510px;
  }
  .interior-products {
    grid-auto-rows: 150px;
  }
  .interior-product-item .hover-cont {
    left: 40%;
    padding: 13px;
  }
} /* //1280~ */
@media (max-width: 1024px) {
  /* ####### Header ####### */
  .header {
    height: 62px;
  }
  .head-top {
    justify-content: flex-start;
  }
  .utility-menu {
    display: none;
  }
  .search-box {
    margin-left: 15px;
    width: 65%;
  }
  .btn-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 35px;
    cursor: pointer;
  }
  .btn-menu .bar {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: #8f8f8f;
    transition: 0.3s;
  }
  .btn-menu .bar:nth-child(1) {
    transform: translateY(-5px);
  }
  .btn-menu .bar:nth-child(3) {
    transform: translateY(5px);
  }
  .btn-menu.active .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  .btn-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .btn-menu.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .header .head-bottom {
    right: calc(100vw - 25px);

    top: 62px;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }
  .header .head-bottom.active {
    right: -25px;
  }
  .info-nav {
    display: none;
  }
  .nav {
    display: block;
    padding: 0 50px;
    margin-top: 100px;
  }
  .gnb-nav > li {
    display: block;
  }
  .gnb-nav .menu-dep1 {
    position: relative;
    padding: 13px 20px;
    border-bottom: 1px solid #eee;
  }
  .gnb-nav .menu-dep1:after {
    content: "\f107";
    font-family: fontawesome;
    float: right;
    vertical-align: middle;
    margin-top: 5px;
  }
  .gnb-nav > li:last-child .menu-dep1:after {
    display: none;
  }
  .gnb-nav .sub-gnb-wrap {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    border: none;
    transition: 0.3s;
  }
  /* ####### Common CSS ####### */
  .wrap {
    overflow: hidden;
  }
  section {
    padding: 0 0 50px;
  }
  .subject-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  /* ####### Section: main-banner ####### */
  .main-banner-slider [class*="swiper-button"] {
    opacity: 0.8;
  }
  /* ####### Section: recommend-product ####### */
  .recommend-items {
    overflow: visible;
    padding: 0;
  }
  .product-slider .swiper-button-prev,
  .product-slider .swiper-button-next {
    display: none;
  }
  .recommend-product .subject-title {
    padding-left: 0;
  }
  /* ####### Section: iloom-event ####### */
  .iloom-event .banner-wrap {
    flex-direction: column;
  }
  /* ####### Section: best-category ####### */
  .category-menu-items {
    gap: 0;
  }
  .category-content .category-items {
    margin-bottom: 3%;
    width: 49%;
  }
  .category-content .category-items:nth-child(2n) {
    margin-left: 2%;
  }
  .category-content .category-items:nth-child(3n) {
    margin-right: 0;
  }
  .category-content .category-items,
  .category-content .category-items:nth-child(4n) {
    margin-right: 0;
  }
  /* ####### Section: iloom-promotion ####### */
  .iloom-promotion .promotion-content {
    flex-direction: column;
    gap: 35px;
  }
  .promotion-content .promotion-item .desc {
    justify-content: center;
  }
  .promotion-content .promotion-item .desc p {
    font-size: 18px;
  }
  .promotion-content .promotion-item .desc .btn-more {
    display: none;
  }
  /* ####### Section: iloom-interior ####### */
  .interior-content {
    height: 2360px;
  }
  .interior-product-item {
    grid-column: span 3;
  }
  /* ####### Footer ####### */
  .footer {
    padding: 65px 0;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
    border: none;
  }
  .iloom-info {
    flex: 1;
  }
  .iloom-info .foot-sns {
    margin-top: 25px;
  }
  .iloom-sitemap {
    flex: 1;
    flex-direction: column;
  }
  .sitemap-list .title {
    position: relative;
    margin: 0;
    padding: 20px 15px;
    border-top: 1px solid #e3e3e3;
    cursor: pointer;
  }
  .sitemap-list:last-child {
    border-bottom: 1px solid #e3e3e3;
  }
  .sitemap-list .title:after {
    content: "\f107";
    font-family: fontawesome;
    float: right;
    vertical-align: middle;
    margin-top: 3px;
    transition: 0.3s;
  }
  .sitemap-list .title.active:after {
    transform: rotate(180deg);
  }
  .sitemap-list .title ~ li {
    display: none;
  }
  .sitemap-list li {
    margin: 0;
  }
  .sitemap-list li a {
    display: block;
    padding: 15px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    gap: 30px;
  }
  .iloom-service .service-call strong {
    display: block;
    margin-left: 0;
  }
} /* //1024~ */
@media (max-width: 768px) {
  /* ####### Section: main-banner ####### */
  .main-banner-slider {
    height: 650px;
  }
  /* ####### Section: best-category ####### */
  .category-menu-wrap {
    flex-wrap: wrap;
    gap: 20px;
  }
  .category-menu-wrap a {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-content .category-items {
    width: 100%;
  }
  .category-content .category-items:nth-child(2n) {
    margin-left: 0;
  }
  /* ####### Section: iloom-interior ####### */
  .interior-products {
    grid-auto-rows: 110px;
  }
  .interior-content {
    height: 1800px;
  }
} /* //768~ */
@media (max-width: 480px) {
  /* ####### Common CSS ####### */
  section {
    padding: 0 0 35px;
  }
  /* ####### Section: best-category ####### */
  .category-menu-wrap a {
    width: 29%;
  }
  /* ####### Section: iloom-interior ####### */
  .interior-content {
    height: 1670px;
  }
  .interior-products {
    gap: 10px;
  }
  .interior-product-item .hover-cont .item-tit:after {
    margin-top: -4px;
    font-size: 13px;
  }
  .interior-product-item .hover-cont .price {
    font-size: 16px;
  }
  .interior-items button {
    margin-bottom: 7px;
  }
} /* //480~ */
